html
  head
    title Scraper
    style
      include css/toggle-button.css
      include css/button.css
      include css/app.css
  body
    div(class='app-container')
      h1 The server is #{serverStatus.toLowerCase()}
      div(class='btn-container')
        button(class='btn draw-border reset-app-state') Reset App State
        button(class='btn draw-border send-test-text') Send Test Text
      div(class='toggle-btn-container')
        h3 Scrape Sites
        div(class=isScraping ? 'toggle-btn active' : 'toggle-btn')
          input(class='cb-value', type='checkbox', checked=isScraping)
          span(class='round-btn')
      h4 Site Statuses
      div(class='site-info')
        div(class='site-statuses')
          div(class='functioning-sites')
            each val in functioningSites
              div
                span=val + ':'
                span Good
          div(class='error-sites')
            each val in errorSites
              div
                span=val + ':'
                span Error
      h3 In Stock Alerts
      div(class='in-stock-alerts list')
        each val in results
          div
            p #{val.date} #{val.site}: #{val.text}
            a(href=val.url) #{val.url}
            p ----------
      h3 Scrape Errors Go Here
      div(class='scrape-errors list')
        each val in scrapeErrors
          p=val
      h3 General App Errors Go Here
        each val in appErrors
          p=val
      div(class='app-errors list')
      h3 Logs
      div(class='logs list')

    script(src='/socket.io/socket.io.js')
    script.
      // window.SocketEventTypes = SocketEventTypes
    script(src='js/app.js')
